.card_wrapper {
  min-width: 350px;
  width: 40%;
  max-width: 500px;
  min-height: 500px;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  color: white;
  font-size: calc(10px + 1vmin);
}

.row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row p {
  margin: 0;
  font-weight: bold;
}

.card_btn {
  min-width: 3.5rem;
  padding: 0.5rem;
  color: white;
  background-color: #282c34;
  border: 1px solid white;
  border-radius: 3px;
  font-size: calc(10px + 1vmin);
  transition: all 0.2s;
}

.card_btn:hover {
  color: #282c34;
  background-color: white;
  border: 1px solid #282c34;
}

.card_btn:disabled {
  color: darkgray;
  background-color: gray;
  border: darkgray;
}

.card_input {
  width: 90%;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 3px;
  font-size: calc(10px + 1vmin);
}

.card_textArea {
  width: 90%;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: calc(10px + 1vmin);
  resize: none;
}

.card_text {
  width: 90%;
  margin: 0 auto 1rem auto;
  text-align: left;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 900px) {
  .card_wrapper {
    width: 75%;
    max-width: unset;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .card_wrapper {
    width: 100%;
    max-width: unset;
    margin: 0;
  }
}
