.app {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.divider {
  width: 100%;
  height: 3px;
  margin: 3.5rem 0;
  background-color: white;
}

/* Heading styles */

.header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Body styles */

.body {
  display: flex;
  flex-direction: column;
}

.input_wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 50%;
  min-width: 300px;
  padding: 0 0.5rem;
  height: 3rem;
  border-radius: 3px;
  font-size: calc(10px + 1vmin);
}

.textarea {
  width: 50%;
  min-width: 300px;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 3px;
  font-size: calc(10px + 1vmin);
  resize: none;
}

.input_btn {
  min-width: 3.5rem;
  min-height: 2rem;
  margin: 0 1rem;
  padding: 0.5rem;
  color: white;
  background-color: #282c34;
  border: 1px solid white;
  border-radius: 3px;
  font-size: calc(10px + 1vmin);
  transition: all 0.2s;
}

.input_btn:hover {
  color: #282c34;
  background-color: white;
  border: 1px solid #282c34;
}

.input_btn:disabled {
  color: darkgray;
  background-color: gray;
  border: darkgray;
}

.board_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.filter_wrapper {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: calc(10px + 0.4vmin);
}

.filter_btn-wrapper {
  display: flex;
  flex-direction: row;
}

.filter_separator {
  height: 100%;
  background-color: white;
  width: 2px;
}

@media only screen and (max-width: 900px) {
  .input {
    width: 75%;
  }

  .textarea {
    width: 75%;
  }
}
